<div class="container col-sm-4 form-group" style="margin-top:2%;">
    <div>
        <label for="emailid">Email address :</label>
        <input (keyup)="typing1()" [(ngModel)]="email" type="text" class="form-control">
    </div>
    <div *ngIf="istyping1">Invalid email id </div><br>


    <div>
        <label for="password">Password :</label>
        <input (keyup)="typing2()" [(ngModel)]="password" type="password" class="form-control">
    </div>
    <div *ngIf="istyping2">Invalid password </div><br>
    
    <div>
        <button (click)="login()" class="btn btn-success">Login</button><span class="col-md-1"></span>
        <button routerLink="/register" class="btn btn-primary">Register</button>
    </div>

    <div *ngIf="isInvalid"> Invalid ID pass </div>

</div>

