<div>
  Hello {{fullName}} :- this is property binding<br>
  sender id is{{senderId}} :- this is string interpolation<br>
</div>

<h1>ng for example</h1>
<div *ngFor="let item of movies">
  {{item}}
</div>

<h1>Toggle hide show example</h1>
<div>
  <button (click)="hide()">Show</button>
  <p *ngIf="show">i am hidden</p>
</div>

<h1>Toggle switch example</h1>
<div>
  <button (click)="switch1()">switch</button>

  <span [ngSwitch]="num">
    <p *ngSwitchCase="true">
      <span>i am in 1</span>
    </p>
    <p *ngSwitchCase="false">
      <span>i am in 2</span>
    </p>
    <p *ngSwitchDefault>
    </p>
  </span>
</div>

<h1>Uppercase</h1>
<div>
  <p>Name in uppercase is {{ singer | uppercase }}</p>
</div>

<h1>Lowercase</h1>
<div>
  <p>Name in uppercase is {{ singer2 | lowercase }}</p>
</div>

<div>
  <p>{{user.stdName}}</p>
  <p>{{user.stdsub}}</p>
</div>
