<div class="container mt-4">
    <button class="btn btn-primary m-4 float-right" type="button" routerLink="/add-emp">Add new employee</button>

    <div *ngIf="empList.length !== 0">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>DOB</th>
                <th>E-mail Id</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of empList;index as i">
                <th>{{i+1}}</th>
                <th>{{employee.firstName}}</th>
                <td>{{employee.lastName}}</td>
                <td>{{employee.dob}}</td>
                <td>{{employee.email}}</td>
                <td><button class="btn btn-primary" type="button" (click)="editEmp(i)">Edit</button></td>
                <td><button class="btn btn-primary" type="button" (click)="deleteEmp(i)">Delete</button></td>
            </tr>
        </tbody>
    </table>   
</div> 

<button class="btn btn-primary" type="button" (click)="logout()">Log Out</button>
</div>

<div class="col-md-8 alert alert-warning" role="alert" *ngIf="empList.length === 0">
    <p>!...No Employees Found</p>
</div> 